@font-face {
    font-family: 'Digital';
    src: url('fonts/digital-7_mono-webfont.eot');
    src: url('fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/digital-7_mono-webfont.woff2') format('woff2'),
        url('fonts/digital-7_mono-webfont.woff') format('woff'),
        url('fonts/digital-7_mono-webfont.ttf') format('truetype'),
        url('fonts/digital-7_mono-webfont.svg#digital-7_monomono') format('svg');
    font-weight: normal;
    font-style: normal;
}

#display {
    text-align: right;
    font-family: Digital;
    font-size: 36px;
    background: #b1b3a5;
    border-radius: 10px;
    padding: 3px 10px 1px;
    box-shadow: inset -3px 1px 4px rgba(0, 0, 0, 0.5);
    width: 168px;
    color: #5a5c68;
    letter-spacing: 3.5px;
}

.table {
    display: table;
    border-collapse: collapse;

    .table-row {
        display: table-row;

        .table-cell {
            display: table-cell;
        }
    }
}

input[type="button"] {
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: white;
    width: 38px;
    height: 38px;
    background: linear-gradient(to bottom right, grey, black 80%);
    box-shadow: 0 0 2px black;
    outline: 0;

    &:active {
        background: linear-gradient(to top left, grey, black 80%);
    }
}

.brown {
    background: linear-gradient(to bottom right, #8c746a, #210f03 80%) !important;

    &:active {
        background: linear-gradient(to top left, #8c746a, #210f03 80%) !important;
    }
}

.orange {
    background: linear-gradient(to bottom right, white, darkorange 80%) !important;
    color: black !important;

    &:active {
        background: linear-gradient(to top left, white, darkorange 80%) !important;
    }
}

.green {
    background: linear-gradient(to bottom right, #6e7e74, #18251c 80%) !important;

    &:active {
        background: linear-gradient(to top left, #6e7e74, #18251c 80%) !important;
    }
}