@font-face {
    font-family: 'Digital';
    src: url('fonts/digital-7_mono-webfont.eot');
    src: url('fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/digital-7_mono-webfont.woff2') format('woff2'),
        url('fonts/digital-7_mono-webfont.woff') format('woff'),
        url('fonts/digital-7_mono-webfont.ttf') format('truetype'),
        url('fonts/digital-7_mono-webfont.svg#digital-7_monomono') format('svg');
    font-weight: normal;
    font-style: normal;
}

#display {
    text-align: right;
    font-family: Digital;
    font-size: 36px;
    background: #b1b3a5;
    border-radius: 10px;
    padding: 3px 10px 1px;
    box-shadow: inset -3px 1px 4px rgba(0, 0, 0, 0.5);
    width: 168px;
    color: #5a5c68;
    letter-spacing: 3.5px;
}

.table {
    display: table;
    border-collapse: collapse;

    .table-row {
        display: table-row;

        .table-cell {
            display: table-cell;
        }
    }
}

input[type="button"] {
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: white;
    width: 38px;
    height: 38px;
    background: #0C0C0C;
    box-shadow: inset 18px 18px 3px -16px #8F8F91, 0 0 2px black;
    outline: 0;

    &:active {
        box-shadow: inset -18px -18px 3px -16px #8F8F91, 0 0 2px black;
    }
}

.brown {
    background: #332016 !important;
    box-shadow: inset 18px 18px 12px -16px #B3A29B, 0 0 2px black !important;

    &:active {
        box-shadow: inset -18px -18px 12px -16px #B3A29B, 0 0 2px black !important;
    }
}

.orange {
    background: #DCA84F !important;
    box-shadow: inset 18px 18px 12px -16px #F4D9A7, 0 0 2px black !important;
    color: black !important;

    &:active {
        box-shadow: inset -18px -18px 12px -16px #F4D9A7, 0 0 2px black !important;
    }
}
